@mixin overEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin btnFeedback {
	&:hover {
		background-color: rgb(241, 241, 241);
	}
	&:active {
		transform: translateY(2px);
	}
}